{% extends "bookmarks/_layout.html" %}

{% block container %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
<script>window.location="{% url 'bookmarks.views.index' %}"</script>
You're already logged in!
{% else %}

<h2>Login</h2>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

{{ form.as_p }}

<input class="btn btn-primary" type="submit" value="login" />
<a class="btn btn-info" href="{% url 'bookmarks.views.register_user' %}">Create an account</a>
<input type="hidden" name="next" value="/" />
</form>

{% endif %}

{% endblock %}

