
{% extends "bookmarks/_layout.html" %}

{% block title %}
  {{ block.super }} | {{ user }}
{% endblock %}

{% block container %}


<div class="row-fluid">
  <div class="span6">
    <h3>Bookmarks</h3>

    <form class="form-inline" action="{% url 'bookmarks.views.bookmark_add' %}" method="post">
      {% csrf_token %}
      {{ bookmark_form.non_field_errors }}

      {{ bookmark_form.url.errors }}
      <div class="input-prepend input-append">
        <span class="add-on">http://</span>
        {{ bookmark_form.url }}
        <input type="submit" class="btn btn-primary" value="Add"/>
      </div>
    </form>
  </div>

  <div class="span6">
    <div class="well">
      <div class="row-fluid">
        <div class="span8">
          <small>Drag this button to your bookmarks bar in your browser. Then, while you're browsing
            other websites, use your new bookmark button to save your current site to boomarksapp.</small>
        </div>
        <div class="span4">
          <a data-toggle="tooltip" data-placement="top" title="Drag me to your bookmarks bar"
             class="bookmarklet"
             href="{{ bookmarklet }}">Bookmark</a>
        </div>
      </div>

    </div>
  </div>

</div>

<table class="bookmarks table">
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>Created</th>
    <th>Last accessed</th>
    <th>Actions</th>
  </tr>
  {% for bookmark in bookmarks %}
  <tr>
    <td>
      <a target="_blank" data-tracking-href="{% url 'bookmarks.views.bookmark_visit' bookmark.pk %}"
         href="{{ bookmark.url }}">{{ bookmark.title }}</a>
    </td>
    <td>{{ bookmark.url }}</td>
    <td>{{ bookmark.date_created }}</td>
    <td>{{ bookmark.last_accessed }}</td>
    <td>
      <form action="{% url 'bookmarks.views.bookmark_delete' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="pure-button" value="&times;"/>
        <input type="hidden" name="id" value="{{ bookmark.pk }}" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
